.booking {
    background: white;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 5px;
    color: #000;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

    text-align: left;

    max-width: 100vw;
    /*height: 100px;*/

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 5px;
    column-gap: 5px;
    grid-template-areas: 'nm nm nm attended payed' 'tm addr addr addr price';
}

.booking > * {
    background: rgba(0, 0, 0, 0.2);
    margin: 0;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    text-align: center;
}

.booking .link {
    grid-area: nm;
    color: #000;
}

.booking .link:hover{
    background-color: rgba(0, 255, 0, 0.2);
}

.time {
    grid-area: tm;
}

.address {
    grid-area: addr;
}

.attended, .payed {
    padding: 5px 10px;
    cursor: pointer;
}

.attended {
    grid-area: attended;
}

.payed {
    grid-area: payed;
}

.success {
    background: deepskyblue;
}

.success:hover {
    background: rgba(0, 191, 255, 0.2);
}

.failure {
    background: orangered;
}

.failure:hover {
    background: rgba(255, 69, 0, 0.2);
}


.price {
    grid-area: price;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
