.booking {
    background: white;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 5px;
    color: #000;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    text-align: left;

    max-width: 100vw;

    display: flex;
    flex-direction: column;
}

.booking h3, .booking h4 {
    padding: 0;
    margin: 0;
}

.booking > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.booking .lefty {
    padding-right: 30px;
}

.booking .checkboxes {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    grid-area: checkboxes;
    width: 100%;
    text-align: right;
}

.booking p {
    margin: 0;
}

.booking .time {
    font-weight: bolder;
}