.booking {
    background: white;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 5px;
    color: #000;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.booking h3 {
    margin: 0;
}

.button {
    padding: 5px 10px;
    margin: 5px;
}

.success {
    background: deepskyblue;
}

.failure {
    background: orangered;
}

