.teacher {
    background: white;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.teacher h2 {
    color: black;
    text-shadow: none;
}