

.fake-header {
    margin-bottom: 60px;
}

.fake-header header {
    height: 40px;

    position: fixed;
    background-color: white;
    color: black;
    width: 100%;
    left: 0;
    top: 0;

    margin: 0;
}

.fake-header header ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    margin-top: 0;
}

.fake-header header ul > * {
    margin-left: 20px;
}