.topBar {
    color: black;
    width: 100%;
    left: 0;
    top: 0;
    margin: 0 0 20px;
    padding: 0 50px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.topBar ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    height: 100%;
}

.topBar li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 10px;
}

.topBar li > * {
    height: 100%;
    display: flex;
    align-items: center;
}

.topBar header ul > * {
    margin-left: 20px;
}